In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [0]:
url = "http://www.hubertiming.com/results/2017GPTR10K"
html = urlopen(url)

In [0]:
soup = BeautifulSoup(html,'lxml')
type(soup)

bs4.BeautifulSoup

In [0]:
title = soup.title
print(title)

<title>2017 Intel Great Place to Run 10K \ Urban Clash Games Race Results</title>

In [0]:
text = soup.get_text()

In [0]:
all_links = soup.find_all('a')
for link in all_links:
  print(link.get("href"))

mailto:timing@hubertiming.com
https://www.hubertiming.com/
/results/2017GPTR
/results/summary/2017GPTR10K
#team
#individual
None
None
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [0]:
rows = soup.find_all('tr')
print(rows)

In [0]:
for row in rows:
  row_td = row.find_all('td')
  print(row_td)

In [0]:
str_cells = str(row_td)
clean_text = BeautifulSoup(str_cells,'lxml').get_text()
print(clean_text)

[577, 443, LIBBY B MITCHELL, F, HILLSBORO, OR, 1:41:18, 16:20, 163 of 163, F 36-45, 56 of 56, 0:52, 1:42:10, ]

In [0]:
import re

list_rows = []
for row in rows:
  cells = row.find_all('td')
  str_cells = str(cells)
  clean = re.compile('<.*?>')
  clean2 = (re.sub(clean,'',str_cells))
  list_rows.append(clean2)
print(clean2)
type(clean2)

[577, 443, LIBBY B MITCHELL, F, HILLSBORO, OR, 1:41:18, 16:20, 163 of 163, F 36-45, 56 of 56, 0:52, 1:42:10, ]

str

In [25]:
import pandas as pd

df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1                                  [Finishers:, 577]
2                                       [Male:, 414]
3                                     [Female:, 163]
4           [Award, Name, Combined Time, 1, 2, 3, 4]
5  [1ST, DTNA2, 02:54:41, 00:40:36 - ANDY WEDAM, ...
6  [2ND, INTEL TEAM K, 03:01:02, 00:41:43 - WILLI...
7  [3RD, INTEL TEAM F, 03:06:06, 00:36:42 - NATHA...
8  [4TH, DTNA1, 03:15:33, 00:40:28 - WITALI SPULI...
9  [5TH, FXG1, 03:21:16, 00:42:56 - DAVID HERRON,...

In [0]:
df[4:-1]

                                                     0
4             [Award, Name, Combined Time, 1, 2, 3, 4]
5    [1ST, DTNA2, 02:54:41, 00:40:36 - ANDY WEDAM, ...
6    [2ND, INTEL TEAM K, 03:01:02, 00:41:43 - WILLI...
7    [3RD, INTEL TEAM F, 03:06:06, 00:36:42 - NATHA...
8    [4TH, DTNA1, 03:15:33, 00:40:28 - WITALI SPULI...
..                                                 ...
591  [572, 293, SPASS O STOIANTSCHEWSKY, M, PORTLAN...
592  [573, 273, RACHEL L VANEY, F, OTHER, OR, 1:38:...
593  [574, 467, ROHIT B DSOUZA, M, PORTLAND, OR, 1:...
594  [575, 471, CENITA D'SOUZA, F, PORTLAND, OR, 1:...
595  [576, 338, PRANAVI APPANA, F, HILLSBORO, OR, 1...

[592 rows x 1 columns]

In [28]:
df1 = df[0].str.split(',',expand=True)
df1.head(10)

            0              1               2   ...    11    12    13
0           []           None            None  ...  None  None  None
1  [Finishers:           577]            None  ...  None  None  None
2       [Male:           414]            None  ...  None  None  None
3     [Female:           163]            None  ...  None  None  None
4       [Award           Name   Combined Time  ...  None  None  None
5         [1ST          DTNA2        02:54:41  ...  None  None  None
6         [2ND   INTEL TEAM K        03:01:02  ...  None  None  None
7         [3RD   INTEL TEAM F        03:06:06  ...  None  None  None
8         [4TH          DTNA1        03:15:33  ...  None  None  None
9         [5TH           FXG1        03:21:16  ...  None  None  None

[10 rows x 14 columns]

In [29]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

           0              1               2   ...    11    12    13
0           ]           None            None  ...  None  None  None
1  Finishers:           577]            None  ...  None  None  None
2       Male:           414]            None  ...  None  None  None
3     Female:           163]            None  ...  None  None  None
4       Award           Name   Combined Time  ...  None  None  None
5         1ST          DTNA2        02:54:41  ...  None  None  None
6         2ND   INTEL TEAM K        03:01:02  ...  None  None  None
7         3RD   INTEL TEAM F        03:06:06  ...  None  None  None
8         4TH          DTNA1        03:15:33  ...  None  None  None
9         5TH           FXG1        03:21:16  ...  None  None  None

[10 rows x 14 columns]

In [0]:
col_labels = soup.find_all('th')

In [35]:
col_labels

[<th>Place</th>,
 <th>Bib</th>,
 <th>Name</th>,
 <th>Gender</th>,
 <th>City</th>,
 <th>State</th>,
 <th>Chip Time</th>,
 <th>Chip Pace</th>,
 <th>Gender Place</th>,
 <th>Age Group</th>,
 <th>Age Group Place</th>,
 <th>Time to Start</th>,
 <th>Gun Time</th>,
 <th>Team</th>]

In [37]:
all_header=[]
col_str = str(col_labels)
clean_text2 = BeautifulSoup(col_str,'lxml').get_text()
all_header.append(clean_text2)
print(all_header)

['[Place, Bib, Name, Gender, City, State, Chip Time, Chip Pace, Gender Place, Age Group, Age Group Place, Time to Start, Gun Time, Team]']

In [38]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Place, Bib, Name, Gender, City, State, Chip T...

In [40]:
df3 = df2[0].str.split(',',expand=True)
df3.head()

       0     1      2   ...              11         12      13
0  [Place   Bib   Name  ...   Time to Start   Gun Time   Team]

[1 rows x 14 columns]

In [42]:
df4 = pd.concat([df3,df1])
df4.head()

           0      1      2   ...              11         12      13
0      [Place    Bib   Name  ...   Time to Start   Gun Time   Team]
0           ]   None   None  ...            None       None    None
1  Finishers:   577]   None  ...            None       None    None
2       Male:   414]   None  ...            None       None    None
3     Female:   163]   None  ...            None       None    None

[5 rows x 14 columns]

In [43]:
df5 = df4.rename(columns = df4.iloc[0])
df5.head()

       [Place    Bib   Name  ...   Time to Start   Gun Time   Team]
0      [Place    Bib   Name  ...   Time to Start   Gun Time   Team]
0           ]   None   None  ...            None       None    None
1  Finishers:   577]   None  ...            None       None    None
2       Male:   414]   None  ...            None       None    None
3     Female:   163]   None  ...            None       None    None

[5 rows x 14 columns]